/* shared style */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    background-color: #E55473;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    margin-bottom: 147px;

}

/* header related style  */
.header {
    /* width: 1920px;
    height: 850px; */
    background: rgba(229, 84, 115, 0.10);
    background-image: url('../images/pngwing10.png');
    background-repeat: no-repeat;
    background-position: bottom right;

}

/* nav related style */
nav {
    padding: 197px 240px;
}

.nav-title {
    color: #272727;
    font-size: 80px;
    font-weight: 800;

}

.nav-discription {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* Our Featured Flowers section style  */
.featured-flowers-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 150px;
}

.featured-flowers-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.featured-flowers-container {
    display: flex;
    justify-content: space-around;
    padding: 50px 240px;
    gap: 15px;
}

.featured-flowers-a {
    color: #272727;
    text-align: center;
    /* align-items: center; */
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    margin-right: 60px;
    
}

.featured-flowers-1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 464px;
    height: 538px;
}

.featured-flowers-2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 464px;
    height: 538px;
}

.featured-flowers-3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 464px;
    height: 538px;
}



/* hot deal section style  */

.hot-deal {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-top: 150px;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    /* width: 1922px;
    height: 620px; */
    gap: 50px;
}

.text-primary {
    color: #E55473;
}

.hot-deal-section-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-bottom: 24px;

}

.hot-deal-section-discription {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 43px;

}

.hot-deal-img {
    width: 318px;
    height: 420px;
    flex-shrink: 0;

}

/* instagram section style */
.instagram-section{
    margin: 30px 240px ;

}

.instagram-title {

    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    margin-top: 128px;
   

}

.instagram-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 24px;

}

.instagram-container {
    display: flex;
    justify-content: space-around;
    margin: 128px 240px ;
     gap: 5px;

}

#insta-img {
    width: 342px;
    height: 396px;

}

/* Get The Latest Deals styles */
.deals-section {
    background-image: url('../images/ectangle9.png');
    /* width: 1440px;
    height: 449px; */
    background-repeat: no-repeat;
    background-position: center;
    /* align-items: center; */
    border-radius: 8px;
    margin: 128px 240px;
    /* padding: 240px; */

}

.deals-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 80px;

}

.deals-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-top: 15px;
    margin-top: 25px;
}

.deals-input-container {
    text-align: center;
    text-decoration: none;
    padding: 50px 200px 121px 287px;
    /* display: inline; */
    
}

#deals-input {
    align-items: center;
    width: 700px;
    height: 64px;
    border-radius: 8px;
    border: 0;
    background: #FFF;
}

#deals-subscribe {
    width: 150px;
    height: 64px;
    border-radius: 8px;
    border: 0;
    color: #FFF;
    font-weight: 700;
    background: #E55473;
    margin-left: 5px;
}

/* footer section styles */

footer {
    text-align: center;
    background: #111010;
    /* width: auto; */
    height: 449px; 
}

.footer-title {

    color: #FFF;
    font-size: 48px;
    font-weight: 800;
    padding-top: 100px;

}

.flower {
    color: #E55473;
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* margin-top: 25px; */
}

.copy-right-title {
    color: rgba(255, 255, 255, 0.40);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 80px;
}